{% extends "imageview/base" %}

{% block page_title %}55&#215;55 | year one{% endblock %}

{% block body_id %} id="gallery"{% endblock %}

{% block content %}
  {% for photographer in photographer_list %}
    <h2>{{ photographer.first_name|lower }}'s</h2>
    {% spaceless %}
      {% for image in photographer.images %}
      <a href="../image/{{ image.slug|urlencode }}/"><img src="{{ image.thumb_url }}" width="{{ thumb_size }}" height="{{ thumb_size }}" alt="{{ image.title|lower }}" title="{{ image.title|lower }}" /></a>
      {% endfor %}
    {% endspaceless %}
  {% endfor %}
{% endblock %}
