/*  ------------------------------------------------------
BASIC ENTITY STYLES
--------------------------------------------------------*/
body {
	margin: 0;
	padding: 0;
	font: 11px/13px "Trebuchet MS",Arial,Helvetica,sans-serif;
	color: #fff;
	text-align: center;
	}
img {
	border: 0;
	}
p {
	margin: 0 0 1em 0;
	padding: 0;
	color: #333;
	}
	
	
/*  ------------------------------------------------------
DIV PLACEMENT
--------------------------------------------------------*/

#container, #homecopyright {
	width: 640px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	text-align: left;
	}
#fullimage {
	border-bottom: 2px solid #fff;
	width: 640px;
	height: 426px;
	/* background: #fff url("/images/loading.gif") no-repeat; */
	}
#photo {
    position: relative;
    top: 49%;
    left: 50%;
	}
#homenav, #entrynav {
	width: 640px;
	height: 195px;
	padding: 0;
	margin: 0;
	text-align: left;
	clear: both;
	}
#homenav {
	background-color: #999;
	}
#entrynav {
	background-color: #999;
	}
#aboutnav {
	width: 640px;
	height: 195px;
	padding: 0;
	margin: 0;
	text-align: left;
	clear: both;
	background-color: #5e7ead;
	}
#archivenav {
	width: 640px;
	height: 103px;
	padding: 0;
	margin: 0;
	background: url(/images/bg_archive.jpg) no-repeat;
	}
#homeabout, #entryabout {
	width: 640px;
	height: 20px;
	padding: 0;
	margin: 0;
	}
#homeabout {
	background-color: #999;
	}
#entryabout {
	background-color: #999;
	}
#homecopyright {
	margin-top: 0;
	color: #999;
	}
#copyright {
	margin: 35px 0 15px 0;
	padding: 5px 0 0 0;
	border-top: 1px solid #ccc;
	color: #999;
	}
#aboutpage {
	width: 640px;
	height: 426px;
	padding: 0;
	margin: 0;
	background: #ebebeb;
	color: #333;
	font: 11px/15px "Trebuchet MS",Arial,Helvetica,sans-serif;
	border-bottom: 1px solid #fff;
	}
#aboutpic {
	width: 236px;
	height: 426px;
	border-right: 1px solid #fff;
	float: left;
	}
#abouttxt {
	width: 403px;
	padding: 40px 0 0 0;
	margin: 0;
	float: left;
	}
.nav {
	margin: 0;
	padding: 5px 8px 3px 8px;
	}
.nav span {
	padding: 5px 8px 3px 8px;
	border-left: 1px solid #fff;
	}
	
	
/*  ------------------------------------------------------
CUSTOM ENTITIES
--------------------------------------------------------*/
h1 {
	font: 35px HelveticaNeue Condensed,HelveticaNeue,Helvetica,Verdana,sans-serif;
	color: #fff;
	border: 0;
	padding: 0;
	margin: 60px 35px 0 0;
	float: right;
    text-transform: uppercase;
	}
h1 span {
	font-size: 25px;
	text-transform: lowercase;
	}
h2 {
	font: 35px Georgia,Times,serif;
	color: #999;
	margin: 35px 0 20px 0;
	padding: 0;
	text-transform: lowercase;
	}
#aboutpage h2 {
	margin: 0;
	padding: 20px 0 .2em 256px;
	}
#abouttxt p {
	margin: 0;
	padding: 0 20px 1em 20px;
	color: #333;
	}
#archivenav h1 {
	border: 0;
	padding: 0;
	margin: 20px 35px 0 0;
	}
p.archive {
	color: #999;
	float: right;
	margin: 0;
	padding: 8px 8px 5px 8px;
	border-left: 1px solid #ccc;
	}
#homeabout p, #entryabout p {
	padding: 0 60px 8px 8px;
	border-left: 1px solid #fff;
	margin: 0;
	float: right;
	}
p.copyrt {
	margin: 5px 0 0 8px;
	float: right;
	font: 10px/12px "Trebuchet MS",Arial,Helvetica,sans-serif;
	color: #999;
	clear: both;
	}
.technorati {
	font-size: 2px;
	clear: both;
	}
	
#thumbgallery img {
	border: 1px solid #ccc;
	padding: 5px 5px 12px 5px;
	margin: 15px 2px 0 0;
	}
	
/*  ------------------------------------------------------
LINKS
--------------------------------------------------------*/
:link, :visited {
	color: #fff;
	text-decoration: none;
	}
:link:hover, :visited:hover {
	color: #fff;
	text-decoration: none;
	}
#thumbgallery :link, #thumbgallery :visited {
	text-decoration: none;
	}		
#thumbgallery :link:hover; #thumbgallery :visited:hover {
	text-decoration: none;
	}
.archive:link, .archive:visited {
	color: #999;
	text-decoration: none;
	}
.archive:link:hover, .archive:visited:hover {
	color: #999;
	border: 0;
	text-decoration: none;
	}
.cc:link, .cc:visited {
	color: #999;
	text-decoration: underline;
	}
.cc:link:hover, .cc:visited:hover {
	color: #999;
	border: 0;
	text-decoration: underline;
	}
#abouttxt :link, #abouttxt :visited {
	color: #c00;
	text-decoration: none;
	}
#abouttxt :link:hover, #abouttxt :visited:hover {
	color: #c00;
	border: 0;
	text-decoration: none;
	}




